body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: blue;
}

.check {
  color: blue;
}

.to-do-list {
  background-color: green;
}

// .to-do-item {
//   color: white
// }

.contacts {
  margin-top: 10px;
  display: flex;
}

.contact-card {
  margin-top: 10px;
}
